# .npmrc
registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/mirrors/node
@mapmost:registry="https://npm.mapmost.com/"

allow-scripts.core-js=true
allow-scripts.node-sass=true
enable-source-maps=false
